.carousel-item img {
    width: 500px;
}

.square {
    background-color: #FE498F;
    color: black;
    padding: 0.8%;
    font-weight: bold;
    
}

.carousel-inner {
    position: relative;
    width: 100%;
    max-height:100vh;
    overflow: hidden;
}

.carousel-item{
    max-height:100vh;
    min-width: 100%;
}
