/* nav {
    background-color: white;
    box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.66);
    -webkit-box-shadow: 2px 9px 9px -8px rgba(0,0,0,0.66);
    -moz-box-shadow: 2px 9px 9px -8px rgba(0,0,0,0.66);
} */
.dropdown-toggle {
    color: #FE498F;
}

/* header {
    position: fixed;
    z-index: 100;
    width: 100%;
   right: 0; 
   top: 0;
} */



.search-box {
    border-color: #FE498F;
}

.btn-outline-success {
    color: #FE498F;
    border-color: #FE498F;
}

.btn-outline-success:hover {
    background-color: #FE498F;
    color: white;
    border-color: white;
}

.dropdown-toggle:active {
    color: #FE498F!important;
}

.dropdown-toggle {
    color: #FE498F!important;
}

.btn-outline-success {

--bs-btn-color: #FE498F!important;
--bs-btn-border-color: #FE498F!important;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #FE498F!important;
--bs-btn-hover-border-color: #FE498F!important;
--bs-btn-focus-shadow-rgb: 25,135,84;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #FE498F!important;
--bs-btn-active-border-color: #198754;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #FE498F!important;
--bs-btn-disabled-bg: transparent;
--bs-gradient: none;

}



i {
    margin-left: 10px;
}


nav .logo {
    width: 7vh;
    height: auto;
    margin-right: 1vh;
}

nav a {
    color: #FE498F;
    text-decoration: none;
    font-size: large;
}

.nav-link {
    font-size: large;
}

nav a:hover {
    color: #FE498F;
    text-decoration: none;
}

nav a:active {
    color: #FE498F;
    text-decoration: none;
}

nav .nav-link {
    color: #FE498F;
}

nav .nav-link:hover {
    color: #FE498F;
}

/* Dropdowns */
.dropdown-menu a:hover {
    background-color: #FE498F;
    color: white;
}

nav .dropdown-item {
    color: #FE498F;
}

/* /Dropdowns/ */


i {
    color: #FE498F;
}

.search-box {
    display: flex;
}

form > input {
    flex: 2;
    border-color: #FE498F;
    width: 100%;
}

form > i {
   flex-direction: 1;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

@media screen and (max-wdith: 276px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}

